<form (ngSubmit)="emailAuth()" [formGroup]="form">
  <input type="email" pInputText formControlName="email" />
  <input type="password" pPassword formControlName="password" />

  <button
    type="submit"
    pButton
    label="Sign in"
    [disabled]="!form.valid"
  ></button>
</form>
<button
  pButton
  class="login"
  label="Sign in with Google"
  icon="pi pi-google"
  (click)="googleOAuth()"
></button>

<h1 class="signup">Sign up</h1>
<!-- <form (ngSubmit)="emailSignUp()" [formGroup]="form">
  <input type="email" pInputText formControlName="email" />
  <input type="password" pPassword formControlName="password" />

  <button
    type="submit"
    pButton
    label="Sign up"
    [disabled]="!form.valid"
  ></button>
</form> -->
