<section class="notes" *ngIf="(notes$ | async)?.length; else noData">
  <smart-note-card
    *ngFor="let note of notes$ | async"
    [note]="note"
  ></smart-note-card>
</section>

<ng-template #noData
  ><ui-no-data
    what="note"
    plural="notes"
    image="../../../../../assets/svg/no_data_notes.svg"
  ></ui-no-data
></ng-template>
