<article class="main-container">
  <main class="page">
    <div class="page__box">
      <div class="header-container">
        <h1 class="title">{{ getTitle() | async }}</h1>

        <p-splitButton
          label="New"
          icon="pi pi-plus"
          class="btn--multi"
          [model]="items"
          (onClick)="newWebsite()"
        ></p-splitButton>
      </div>

      <div class="filler"></div>
    </div>

    <div class="page__content shadow-3">
      <router-outlet></router-outlet>
    </div>
    <shell-footer></shell-footer>
  </main>
</article>
<p-toast></p-toast>
