<form class="container p-fluid p-formgrid p-grid" [formGroup]="form">
  <div class="inputs">
    <input type="text" pInputText placeholder="Title" formControlName="title" />
    <p-chips
      type="text"
      placeholder="Tags"
      [(ngModel)]="tags"
      [ngModelOptions]="{ standalone: true }"
    ></p-chips>
  </div>
  <textarea
    rows="5"
    cols="30"
    pInputTextarea
    [autoResize]="true"
    formControlName="description"
  ></textarea>
  <div class="btn-container">
    <p-button
      icon="pi pi-arrow-circle-left"
      label="Back"
      (click)="goBack()"
    ></p-button>
    <p-button
      icon="pi pi-plus"
      label="Add website"
      class="btn--submit"
      (click)="addNote()"
      [disabled]="!form.valid"
    ></p-button>
  </div>
</form>

<!-- <div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 p-md-6">
    <label for="firstname6">Firstname</label>
    <input id="firstname6" type="text" pInputText />
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="lastname6">Lastname</label>
    <input id="lastname6" type="text" pInputText />
  </div>
  <div class="p-field p-col-12">
    <label for="address">Address</label>
    <textarea id="address" type="text" rows="4" pInputTextarea></textarea>
  </div>
  <div class="p-field p-col-12 p-md-6">
    <label for="city">City</label>
    <input id="city" type="text" pInputText />
  </div>
  <div class="p-field p-col-12 p-md-3">
    <label for="state">State</label>
    <p-dropdown
      inputId="state"
      [options]="states"
      [(ngModel)]="selectedState"
      placeholder="Select"
      optionLabel="name"
    ></p-dropdown>
  </div>
  <div class="p-field p-col-12 p-md-3">
    <label for="zip">Zip</label>
    <input id="zip" type="text" pInputText />
  </div>
</div> -->
