$padding: 2rem;

.credential-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  padding-inline: $padding;
  padding-block: $padding / 2;
  align-items: center;
  gap: $padding / 4;
  width: 100%;
  height: 100%;

  .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  @media screen and (min-width: 480px) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .info {
      text-align: left;
    }
    .remove-btn {
      margin-left: auto;
    }
  }
}

// $padding: 1rem;

// .credential-card {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: $padding;
//   height: 100%;
//   @media screen and (max-width: 400px) {
//     flex-direction: column;
//     .more-icon {
//       transform: rotate(90deg);
//     }
//     .website-link {
//       display: flex;
//       flex-direction: column;
//       img {
//         max-width: 11rem;
//         max-height: 11rem;
//       }
//       h2 {
//         font-size: 1.5rem;
//         margin-bottom: 0.5rem;
//       }
//       section {
//         max-width: 90%;
//         align-items: center;
//         overflow: hidden;
//       }
//       // }
//     }
//   }
// }

// .website-link {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   flex-direction: row;
//   gap: 1rem;
//   img {
//     max-width: 5rem;
//     max-height: 5rem;
//   }

//   section {
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-start;
//     flex-direction: column;

//     h2 {
//       margin: 0;
//     }
//   }
// }

// .card__left {
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   gap: $padding;
// }

// .card-btn__remove {
//   display: none;
// }

// .menu--remove {
//   display: block;
// }

// @media screen and (min-width: 500px) {
//   .card-btn__remove {
//     display: block;
//   }

//   .menu--remove {
//     display: none;
//   }
// }
