<div class="credential-card shadow-3">
  <img
    [src]="'//logo.clearbit.com/' + data.website"
    [alt]="'Image of ' + data.website"
  />
  <div class="info">
    <h2>{{ data.website }}</h2>
    <p>{{ data.username }}</p>
  </div>

  <button
    pButton
    label="Remove"
    (click)="removeWebsite(data)"
    class="p-button-outlined p-button-danger remove-btn"
  ></button>
  <!-- <button
    pButton
    icon="pi pi-ellipsis-v"
    class="p-button-rounded p-button-text"
  ></button> -->
  <!-- <a [href]="'https://' + data.website" class="website-link">
    <img
      [src]="'//logo.clearbit.com/' + data.website"
      [alt]="'Image of ' + data.website"
    />
    <section>
      <h2>
        {{ data.website }}
      </h2>
      <span>
        {{ data.username }}
      </span>
    </section>
  </a>
  <section class="card__left">
    <button
      mat-stroked-button
      class="card-btn__remove"
      color="warn"
      (click)="removeWebsite(data.website)"
    >
      Remove
    </button>

    <button pButton icon="pi pi-more" class="more-icon">
      <i class="pi pi-menu"></i>
    </button> -->
  <!-- <mat-menu #menu="matMenu"> -->
  <!-- <button mat-menu-item [cdkCopyToClipboard]="data.website">
        Copy website
      </button>
      <button mat-menu-item [cdkCopyToClipboard]="data.password">
        Copy password
      </button>
      <button
        mat-menu-item
        target="_blank"
        (click)="visitWebsite(data.website)"
      >
        Visit Website
      </button>
      <button
        mat-menu-item
        class="menu--remove"
        (click)="removeWebsite([data.website])"
      >
        Delete Website
      </button>
    </mat-menu> -->
  <!-- </section> -->
</div>
