<div class="app-container">
  <p-menubar [model]="items">
    <img
      [src]="(user$ | async)?.photoURL || pic2"
      alt=""
      height="44"
      class="profile-img shadow-5"
    />
  </p-menubar>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</div>
