.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;

  // padding-bottom: 10vh;
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 2.5rem;
      text-align: center;
      line-height: 2ch;
    }
    p {
      text-align: center;
    }
  }

  img {
    width: 100%;
    max-width: 30rem;
  }
}
