:host {
  display: block;
}
@import '../../../assets/scss/vars';

.wrapper {
  background: $background-clr;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  margin: 0 -1rem;
  margin-top: 0.2rem;
  p-divider {
    width: 98%;
  }
  color: rgba(0, 0, 0, 0.85);
  .container {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
