<section class="wrapper">
  <p-divider></p-divider>
  <div class="container">
    <span>Made by: Vincent Thomas</span>
    <div>
      <button (click)="Contact()" pButton class="p-button-link">
        Contact Me
      </button>
    </div>
  </div>
</section>
