.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-auto-rows: minmax(10rem, auto);
  gap: 2rem;

  margin-inline: auto;
  max-width: 863px;
  @media screen and (min-width: 1000px) {
    max-width: 900px;
  }
}

.card {
  border-radius: 1rem;
  padding: 1rem;
  text-align: left;
  color: white;

  .title {
    margin: 0;
  }
  &--1 {
    background: #3a4060;
  }

  &--2 {
    background: #1b1d2c;
    display: grid;

    grid-template-rows: auto 1fr;
  }

  &--3 {
    background: #343452;
  }
  button > strong,
  strong {
    font-size: 2rem;
    margin-inline: 0.1rem;
  }
}

.info-wrapper {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  .info {
    display: flex;
    justify-content: space-between;
  }
}

.card--btn {
  outline: none;
  border: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  cursor: pointer;
  span:not(.have-items) {
    margin-top: 0.5rem;
  }
}
