<section class="container">
  <button class="card card--1 shadow-6 card--btn" (click)="toWebsite()">
    <h1 class="title">Websites</h1>
    <span *ngIf="(websites$ | async)?.length; else noData" class="have-items"
      >Currently <strong>{{ (websites$ | async)?.length }}</strong> websites
      registered...
    </span>
    <ng-template #noData>
      <span>You don't have any websites!</span>
    </ng-template>
  </button>
  <button class="card card--btn card--2 shadow-6" (click)="toNotes()">
    <h1 class="title">Notes</h1>
    <span *ngIf="(notes$ | async)?.length; else noNotes" class="have-items">
      You have <strong> {{ (notes$ | async)?.length }} </strong>
      secure notes!
    </span>
    <ng-template #noNotes>
      <span> You don't have any notes! </span></ng-template
    >
  </button>
  <button class="card card--btn card--3 shadow-6" (click)="toContacts()">
    <h1 class="title">Contacts</h1>
    <span *ngIf="(contacts$ | async)?.length; else noCont" class="have-items">
      <strong>
        {{ (contacts$ | async)?.length }}
      </strong>
      contacts are found!
    </span>
    <ng-template #noCont><span>No contacts is on this app!</span></ng-template>
  </button>
  <!-- <div class="card shadow-6">
    <h1 class="title"></h1>
  </div>
  <div class="card shadow-6">
    <h1 class="title"></h1>
  </div>
  <div class="card shadow-6"><h1 class="title">teisng</h1></div> -->
</section>
