$padding: 1rem;

.websites {
  display: grid;
  gap: $padding;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  justify-content: center;
  max-width: 1200px;
  padding-inline: $padding;
  padding-block: $padding;
  margin-inline: auto;

  margin-top: 0;
  justify-content: center;
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, 100%);
  }
}
