<div class="websites" *ngIf="(websites$ | async)?.length; else noData">
  <smart-website-card
    *ngFor="let website of websites$ | async"
    [website]="website"
    (remove)="removeWebsite($event)"
  ></smart-website-card>
</div>

<ng-template #noData>
  <div class="container">
    <ui-no-data
      what="website"
      plural="websites"
      image="../../../../../assets/svg/no_data_new.svg"
    ></ui-no-data>
  </div>
</ng-template>
