$padding: 1rem;

.card {
  border-radius: 0.5rem;
  // padding: $padding;
  padding: calc($padding / 2);
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  width: 100%;
  gap: 0.75rem;
}

h1,
p {
  margin: 0;
}

.btn--close {
  margin: -0.4rem;
}

.card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
}

.card__chips {
  display: flex;
  flex-wrap: wrap;
}

.chips__chip {
  background: lightgrey;
  padding: 0.5rem 1rem;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  border-radius: 10rem;
}
