<div class="card shadow-2">
  <h1 class="card__title">
    {{ note.title }}
    <button
      pButton
      class="p-button-rounded p-button-text btn--close"
      icon="pi pi-times"
      (click)="removeNote(note)"
    ></button>
  </h1>
  <div class="card__chips">
    <span *ngFor="let tag of note.tags" class="chips__chip">{{ tag }}</span>
  </div>
  <p>{{ note.note }}</p>
</div>
